{% extends "base.html" %}
{% block content %}
<div class="container my-4">
  <h2>Factura {{ invoice.number }}</h2>
  <table class="table table-bordered w-auto">
    <tbody>
      <tr><th>Fecha</th><td>{{ invoice.date }}</td></tr>
      <tr><th>Tipo</th><td>{{ 'Venta' if invoice.type == 'sale' else 'Compra' }}</td></tr>
      <tr><th>Cuenta</th><td style="color:{{ account.color if account else '' }}">{{ account.name if account else '' }}</td></tr>
      <tr><th>Concepto</th><td>{{ invoice.description }}</td></tr>
      <tr><th>Monto sin impuesto</th><td>{{ symbol }} {{ invoice.amount|money }}</td></tr>
      <tr><th>IVA %</th><td>{{ invoice.iva_percent }}%</td></tr>
      <tr><th>IVA $</th><td>{{ symbol }} {{ invoice.iva_amount|money }}</td></tr>
      {% if invoice.iibb_amount %}
      <tr><th>IIBB %</th><td>{{ invoice.iibb_percent }}%</td></tr>
      <tr><th>IIBB $</th><td>{{ symbol }} {{ invoice.iibb_amount|money }}</td></tr>
      {% endif %}
      <tr><th>Total</th><td>{{ symbol }} {{ total|money }}</td></tr>
    </tbody>
  </table>
</div>
{% endblock %}
